#root {
  /* width: 100vw; */
  height: auto;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.card {
  flex-grow: 1;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html body {
  padding: 0;
  margin: 0;
}